* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    grid: repeat(16, 1fr) / auto;
    min-width: 100vw;
    min-height: 100vh;
}

.row {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.column {
    border: purple solid 3px;
    flex-grow: 1;

}